body{margin:0px;
  color: #40514E;
text-align: center;
font-family:'merriweather Sans', serif;}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1{font-size: 4rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
font-family: 'Gloria Hallelujah',cursive;}
h2{font-family:'monsterrat', sans-serif;
font-size: 2rem;
color: #119993;
font-weight: normal;
}
h3{font-family:'monsterrat', sans-serif;
color: #66BFBF}
.pro{text-decoration: underline;}
.top-container{background-color:#EAF6F6;
  position: relative;
  padding-top: 100px}
}
.middle-container{margin: 100px 0}
.bottom-container{background-color: #66BFBF;
padding: 50px 0 40px;
margin-top: 100px}
.bottom-cloud{position: absolute;
position: absolute;
bottom: 300px;
left: 300px;}
.top-cloud{position: absolute;
right: 300px;
top: 50px;}
.skill-row{
text-align: left;
width: 50%;
margin: 100px auto 150px auto;
line-height: 2}
.photo{
  margin: 10px;
  width: 25%;
float: left;}
.game{
  margin: 10px;
width: 25%;
float: right;}
.contact-me{width: 40%;
margin: 40px auto 60px;}
.btn {
  background: #00f5e1;
  background-image: -webkit-linear-gradient(top, #00f5e1, #248ea8);
  background-image: -moz-linear-gradient(top, #00f5e1, #248ea8);
  background-image: -ms-linear-gradient(top, #00f5e1, #248ea8);
  background-image: -o-linear-gradient(top, #00f5e1, #248ea8);
  background-image: linear-gradient(to bottom, #00f5e1, #248ea8);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: 'monsterrat', Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 20px
}

.btn:hover {
  background: #00d9ae;
  background-image: -webkit-linear-gradient(top, #00d9ae, #2e6387);
  background-image: -moz-linear-gradient(top, #00d9ae, #2e6387);
  background-image: -ms-linear-gradient(top, #00d9ae, #2e6387);
  background-image: -o-linear-gradient(top, #00d9ae, #2e6387);
  background-image: linear-gradient(to bottom, #00d9ae, #2e6387);
  text-decoration: none;
}
.footer-link{color: #1A3C40;
font-family: 'monsterrat',sans-serif;
margin: 10px;
text-decoration: none;}
a:hover{color: white}
.copyright{color: #1A3C40;
  margin-top: 50px;
font-size: 0.75rem;}
